.fhwbmK::before {
    content: '';
    display: block;
    background-image: url(https://weilun96.github.io/wedding/assets/IMG_1893.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
}

.ipENrZ::after {
    content: '';
    display: block;
    background-image: url(https://weilun96.github.io/wedding/assets/IMG_1892.PNG);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 5px;
    right: -5px;
}

.ipENrZ {
    position: relative;
}

.fhwbmK {
    position: relative;
}

.jFzDfV {
    display: none;
}

.xHQsE::after {
    content: '';
    background-image: url(https://weilun96.github.io/wedding/assets/IMG_1891.PNG);
    background-size: 65px 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin-top: -10px;
    vertical-align: middle;
}