.fhwbmK::before {
    content: '';
    display: block;
    background-image: url(https://weilun96.github.io/wedding/assets/redxi.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
}

.ipENrZ::after {
    content: '';
    display: block;
    background-image: url(https://weilun96.github.io/wedding/assets/red.JPG);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 5px;
    right: -5px;
}

.ipENrZ {
    position: relative;
}

.fhwbmK {
    position: relative;
}

.jFzDfV {
    display: none;
}

.xHQsE::after {
    content: '';
    background-image: url(https://weilun96.github.io/wedding/assets/1891.PNG);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}